.dropdown {
    position: relative;

    // &:hover > .dropdown-content,
    &:focus-within > .dropdown-content{
        opacity: 1;
        pointer-events: auto;
    }

    .dropdown-button {
        @include flex-center();
    }

    &.left {
        & > .dropdown-content {
            width: 100%;
            left: calc(-100% - #{space(1)});
            top: 0;

            @include margin-all(0);
        }

        & > .dropdown-button {
            @include flex-flow(rr);

            .arrow {
                transform: rotate(90deg);
                margin-right: space(2);
            }
        }
    }

    &.right {
        & > .dropdown-content {
            width: 100%;
            right: calc(-100% - #{space(1)});
            top: 0;

            @include margin-all(0);
        }

        & > .dropdown-button {
            .arrow {
                transform: rotate(-90deg);
            }
        }
    }

    .dropdown-content {
        opacity: 0;
        pointer-events: none;
        transition: opacity $transition-duration;
        margin-top: space(1);
        z-index: 100;
        position: absolute;
        top: 100%;
        right: 0;
        min-width: 100%;
        width: fit-content;

        @include flex(st, s, c);


        .dropdown-items > a,
        .dropdown-items > button {
            display: block;
            white-space: nowrap;
            
            @include padding-yx(2, 3);

            & ~ .dropdown {
                margin-top: space(1);
            }

        }

        & > .dropdown {
            margin-top: space(1);
        }
    }

    @each $name, $value in $palette {
        &.#{$name} {
            & > .dropdown-button {
                @extend .btn;
                @extend .btn-#{$name};

                .arrow {
                    border-top-color: text-color-by-lightness($name);
                }
            }

            & > .dropdown-content > .dropdown-items > a {
                @include bg-text-color($name);

                &:hover {
                    @include bg-text-color($name, dark);
                }
            }
        }

        &.border-#{$name} {
            border: none;

            & > .dropdown-button {
                @extend .btn;
                @extend .btn-outline-#{$name};

                &:hover .arrow {
                    border-top-color: text-color-by-lightness($name);
                }

                .arrow {
                    border-top-color: color($name);
                }
            }

            & > .dropdown-content {
                border: 1px solid color($name);
                background-color: dark-or-light-color($name);
            }

            & > .dropdown-content > .dropdown-items > a {
                width: fit-content;
                color: color(dark);
                background-color: dark-or-light-color($name);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}