@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
@import "assets/scss/required";
@import "assets/scss/inputMinimal";
@import "assets/scss/button";
@import "assets/scss/dropdown";
@import "assets/scss/modal";
@import "assets/scss/checkbox-radio";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

main {
  min-height: calc(100vh - 50px);
}

.icon {
  width: 1.3em;
  height: 1.3em;
}

.icon.big {
  width: 1.5em;
  height: 1.5em;
}

.icon.small {
  width: 1em;
  height: 1em;
}

a {
  text-decoration: none;
  color: color(dark);
}

.error-message {
  color: color(danger, light);
  font-size: font-size();
  font-weight: bold;

  @include margin-yx(3, 0);
}

.swal2-bg-transparent {
  background: transparent !important;
}