<div>
  <h1>Login</h1>
  <div class="text-danger my-3 text-bold" *ngIf="errorMessage">
    {{ errorMessage }}<br />
    Recover password or create new account
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group-minimal">
      <input
        class="form-control"
        id="username"
        type="text"
        formControlName="username"
      />
      <label for="username">Username</label>
      <span
        class="validation-error"
        *ngIf="username.hasError('required') && username.touched"
      >
        Username is required
      </span>
      <span
        class="validation-error"
        *ngIf="username.hasError('minlength') && username.touched"
      >
        Min lenght 3 characters
      </span>
    </div>
    <div class="form-group-minimal">
      <input
        class="form-control"
        id="password"
        type="password"
        formControlName="password"
      />
      <label for="password">Password</label>
      <span
        class="validation-error"
        *ngIf="password.hasError('required') && password.touched"
      >
        Password is required
      </span>
      <span
        class="validation-error"
        *ngIf="password.hasError('minlength') && password.touched"
      >
        Min lenght 3 characters
      </span>
    </div>
    <a href="#" class="mb-3">Forgot password?</a>
    <button class="btn btn-primary" [disabled]="!loginForm.valid" type="submit">
      Login
    </button>
  </form>

  <hr class="my-4" />

  <a routerLink="/zarejestruj" class="btn btn-primary">Create new account</a>
</div>
