<nav class="navbar">
    <div class="open-nav">Open</div>
    <div class="close-nav">Close</div>

    <div class="brand">
        <a routerLink="/">Natdim Health</a>
    </div>

    <div class="navbar-collapse">
        <div class="curtain"></div>
        <div class="nav-container">
            <ul class="nav">
                <li>
                    <a href="">Woda</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="navbar-static">
        <ul class="nav">
            <li>
                <a routerLink="/">
                    <span>Witaj Marek</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

