@import "../../../assets/scss/required";

.calculator-container {
    width: 100%;
    max-width: 1200px;
    height: calc(100vh - 50px);
    
    @include margin-x(auto);
    @include padding-yx(0, 4);
    @include flex(c, s, c);

    @include for-desktop-up() {
        @include flex(c, sa, r);
    }

    hr {
        width: 100%;
        max-width: 500px;

        @include for-desktop-up() {
            display: none;
        }
    }
}