<div class="register-form">
  <h1>Załóż konto już teraz</h1>
  <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}<br /></div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group-minimal">
      <input
        class="form-control"
        id="register-username"
        type="text"
        formControlName="username"
      />
      <label for="register-username">Nazwa użytkownika</label>
      <span
        class="validation-error"
        *ngIf="username.hasError('required') && username.touched"
      >
        Nazwa użytkownika jest wymagana.
      </span>
      <span
        class="validation-error"
        *ngIf="username.hasError('minlength') && username.touched"
      >
        Nazwa użytkownika musi mieć co najmniej
        {{ username.errors.minlength.requiredLength }} znaków.
      </span>
    </div>
    <div class="form-group-minimal">
      <input
        class="form-control"
        id="register-email"
        type="email"
        formControlName="email"
      />
      <label for="register-email">Email</label>
      <span
        class="validation-error"
        *ngIf="email.hasError('required') && email.touched"
      >
        Email jest wymagany.
      </span>
      <span
        class="validation-error"
        *ngIf="email.hasError('pattern') && email.touched"
      >
        Email nie jest prawidłowy. Np. przyklad123@gmail.com.
      </span>
    </div>
    <div class="form-group-minimal">
      <input
        class="form-control"
        id="register-password"
        type="password"
        formControlName="password"
      />
      <label for="register-password">Hasło</label>
      <span
        class="validation-error"
        *ngIf="password.hasError('required') && password.touched"
      >
        Hasło jest wymagane
      </span>
      <span
        class="validation-error"
        *ngIf="password.hasError('minlength') && password.touched"
      >
        Hasło musi mieć przynajmniej 6 znaków.
      </span>
      <span
        class="validation-error"
        *ngIf="password.hasError('pattern') && password.touched"
      >
        Hasło musi mieć przynajmniej jedną małą literę, jedną wielką literę oraz liczbę.
      </span>
    </div>
    <button
      class="btn btn-primary"
      [disabled]="!registerForm.valid"
      type="submit"
    >
      Register
    </button>
  </form>
</div>
