<div class="home-container">

 
    
    <section id="main">
          
    <h1>Hello World! </h1> 
     
    
    </section> 
     <hr>
    <button type="button">Zaloguj się</button>
     
    
    
   <!---  <h1>{{ todayDate() }}</h1>                <span>{{ randomQuote() }}</span>             ---> 
     
    
    <div class="meal">
    </div>
    <div class="bed">
    </div>
    <div class="dumbbell">
    </div>
    <div class="calculator"></div>
    <div class="water"></div>
    <div class="weight"></div>
    <div class="date_day"><h2>{{ todayDate() }}</h2></div>
    <div clas="quote"><h3>{{ randomQuote() }}</h3></div>




</div>