@import "../../../assets/scss/required";

.data-group {
    max-width: 1000px;

    @include margin-x(auto);
    @include padding-x(4);

    .data-header {
        @include flex(c, sb, r);

        h3,
        button {
            @include underline(color(primary));
        }

        button .icon {
            margin-right: space(1);
        }
    }

    .chart-container {
        height: 40vh !important;
        min-height: 300px;
        margin-bottom: space(4);
    }

    .data-list {
        width: 100%;

        .data-list-header {
            margin-bottom: space(2);

            @include flex(c, sb, r);
        }
    }
}