<div class="data-form modal modal-center" [ngClass]="{ active: showModal }">
    <div class="curtain" (click)="hideModal()"></div>
    <div class="content">
      <div class="form-title">
        <h3 class="mt-0">{{ formTitle }}</h3>
        <button class="btn btn-link" (click)="hideModal()">
          <svg class="icon" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <defs />
            <path
              d="M12 13.393L22.4 24l1.131-1.154-10.4-10.607L24 1.154 22.869 0 12 11.085 1.131 0 0 1.154l10.869 11.085-10.4 10.607L1.6 24 12 13.393z"
              fill="#000" />
          </svg>
        </button>
      </div>
  
      <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" />
  
        <div class="form-group-minimal">
          <input class="form-control" type="number" formControlName="value" id="data-value" />
          <label for="data-value">Wartość ({{ unit }})</label>
          <span class="validation-error" *ngIf="value.hasError('required') && value.touched">
            Wartość jest wymagana
          </span>
        </div>
  
        <div class="form-group-minimal">
            <input class="form-control" type="date" formControlName="date" id="data-date"/>
            <label for="data-date">Data</label>
            <span class="validation-error" *ngIf="date.hasError('required') && date.touched">
              Data jest wymagana
            </span>
          </div>
  
        <div class="form-group-minimal">
          <select class="form-control active" formControlName="dataGroupId">
            <option *ngFor="let dataGroup of dataGroups" [value]="dataGroup.id">
              {{ dataGroup.name }}
            </option>
          </select>
          <label for="groupId">Nazwa grupy</label>
        </div>
  
        <button class="btn btn-primary" type="submit">Zapisz</button>
      </form>
  
      <button *ngIf="id.value" class="btn btn-outline-primary delete-task" (click)="deleteData(id.value)">
        Usuń
      </button>
    </div>
  </div>